# Data Types & Structures

1. What are data structures, and why are they important?
   - Data structures are specialized formats for organizing, processing, storing, and retrieving data efficiently. They define the way data is arranged in memory so that it can be used effectively for various algorithms and operations.
  Why Data Structures Are Important:
  Efficiency,Algorithm Optimization,Data Organization,Real-World Applications

2. Explain the difference between mutable and immutable data types with examples?
   - The key difference between mutable and immutable data types is whether or not their contents (i.e., values) can be changed after the object is created.
   Mutable Data Types Examples:
   my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)  # Output: [10, 2, 3]
   Immutable Data Types Example:
   a = (1, 2, 3)
a[0] = 10  # This will raise a TypeError because tuples are immutable

3. What are the main differences between lists and tuples in Python?
   - Lists are Mutable & Tuples are immutable.
   - Lists are suitable for dynamic data & Tuples are suitable for constant data.

4. Describe how dictionaries store data.
   - In Python, dictionaries store data as key-value pairs using a highly efficient data structure called a hash table.
   
   ✅ Structure of a Dictionary:
A dictionary in Python looks like this:

my_dict = {"name": "Alice", "age": 30, "city": "New York"}

Each entry is a key-value pair.

Keys must be immutable and unique (e.g., strings, numbers, tuples).

Values can be of any data type and can be duplicated.

5.  Why might you use a set instead of a list in Python?
    - Uniqueness of Elements
    - No Need to Maintain Order

6. What is a string in Python, and how is it different from a list?
   - In Python, a string is a sequence of characters enclosed in quotes (single, double, or triple). It's a built-in, immutable data type used to represent text.
   - Lists are Mutable & String is immutable.
   - Editing is not allowed in String & it is allowed in List.

7. How do tuples ensure data integrity in Python?
   - Tuples ensure data integrity in Python primarily through immutability—once a tuple is created, its contents cannot be modified. This property makes them a reliable way to store fixed collections of items where consistency and safety are important.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that maps keys to values using a process called hashing. It allows for very fast data access, often in constant time (O(1)) on average.
   - In Python 3, the built-in dict type is implemented using a hash table.

9. Can lists contain different data types in Python?
   - Yes, lists in Python can contain elements of different data types. This is one of the key features that makes Python lists flexible and powerful.

10. Explain why strings are immutable in Python.
    - Once a string is created, its content cannot be changed.

    - Any operation that seems to modify a string actually creates a new string object.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries use hash tables, so accessing an item by key is on average O(1) — very fast. Lists require O(n) time to find an item by value or index lookup.
    - Dictionaries store data as key-value pairs, which makes them perfect for representing mappings, like {username: email}, while lists only store ordered items.
    - When you don’t care about order but want to retrieve data by meaningful keys, dictionaries are more natural and efficient.

12. Describe a scenario where using a tuple would be preferable over a list.
    - Example:

Consider a scenario where you need to store the geographical coordinates of a location:

location = (19.0760, 72.8777)  # Latitude and Longitude of Mumbai

In this case, using a tuple is appropriate because the coordinates are fixed and should not change. Using a tuple communicates the intent that this data is constant and provides the benefits mentioned above.

In contrast, if you need a collection of items that may change over time, such as a list of users that can be added or removed, a list would be more appropriate.

In summary, choose a tuple when you need an immutable, fixed-size collection of related data, and choose a list when you need a mutable, dynamic collection.

13. How do sets handle duplicate values in Python?
    - In Python, a set is a built-in data structure that automatically handles duplicate values by storing only unique elements. If you attempt to add a duplicate item to a set, Python will ignore the addition and maintain the existing set unchanged.

14. How does the “in” keyword work differently for lists and dictionaries?
    - In Python, the in keyword serves to check for the presence of an element within a collection. However, its behavior differs between lists and dictionaries due to the underlying data structures.

15. Can you modify the elements of a tuple? Explain why or why not?
    - No, you cannot modify the elements of a tuple in Python. Tuples are immutable, meaning once they are created, their contents cannot be changed, added, or removed. This immutability ensures that the data stored in a tuple remains constant throughout the program, providing reliability and consistency.
    - Tuples are intended to be used for fixed collections of items, where the integrity of the data must be maintained. Allowing modification would defeat this purpose.

16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary is essentially a dictionary within another dictionary. Each key in the outer dictionary points to another dictionary, which can contain its own keys and values.
    - myfamily = {
   "child1": {"name": "Emil", "year": 2004},

    "child2": {"name": "Tobias", "year": 2007},

    "child3": {"name": "Linus", "year": 2011}
}

17.  Describe the time complexity of accessing elements in a dictionary.
     - In Python, dictionaries are implemented using hash tables, which provide efficient key-value pair storage and retrieval. The time complexity of accessing elements in a dictionary is generally O(1), meaning that the time taken to access a value by its key is constant, regardless of the size of the dictionary.

18.  In what situations are lists preferred over dictionaries?
     - Use lists over dictionaries when you need an ordered collection of items that can contain duplicates and are accessed by their position.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Starting from Python 3.7, dictionaries maintain the insertion order of key-value pairs, so they are considered ordered collections; this allows predictable iteration but doesn't support indexing or slicing like lists.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - In Python, lists are ordered collections accessed by integer indices, allowing duplicates, while dictionaries are unordered collections accessed by unique keys, supporting key-value pairs.

In [1]:
# 1. Write a code to create a string with your name and print it.

my_name = "Rohit"
print(my_name)

Rohit

In [2]:
# 2. Write a code to find the length of the string "Hello World".
len ("Hello World")

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
str = "Python Programming"
str[0:3]

'Pyt'

In [4]:
# 4. Write a code to convert the string "hello" to uppercase.
str = "hello"
str.upper()

'HELLO'

In [5]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
str = "I like apple"
str.replace("apple","orange")

'I like orange'

In [6]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [7]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [8]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [9]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
my_list[1]

'b'

In [10]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [11]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100, 200, 300)
print (tuple)

(100, 200, 300)

In [12]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple = ('red', 'green', 'blue', 'yellow')
tuple[-2]

'blue'

In [13]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print("The minimum number is:", min_number)

The minimum number is: 5

In [18]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

In [19]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "cherry")

if "kiwi" in fruits:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is not in the tuple

In [20]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [21]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [22]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [23]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [24]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [25]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name": "Rohit", "age": 30, "city": "Pune"}
print(my_dict)

{'name': 'Rohit', 'age': 30, 'city': 'Pune'}

In [26]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [27]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
value = my_dict["name"]
print(value)

Alice

In [28]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [29]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [31]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all
list = [1,2,3,4,5]
print(list)
tuple = (1,2,3,4,5)
print(tuple)
my_dict = {"name": "Rohit", "age": 30, "city": "Pune"}
print(my_dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Rohit', 'age': 30, 'city': 'Pune'}

In [32]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
      # result.(replaced)

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted List:", random_numbers)

Sorted List: [26, 33, 45, 74, 87]

In [33]:
# 28. Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[2])

cherry

In [34]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [35]:
# 30. Write a code to convert a list of strings into a set.
# Sample list with duplicate strings
fruits = ["apple", "banana", "apple", "orange", "banana"]

# Convert list to set to remove duplicates
unique_fruits = set(fruits)

# Print the resulting set
print("Unique fruits:", unique_fruits)

Unique fruits: {'apple', 'orange', 'banana'}